def Koef(n):
    massiv = []

    for i in range(n):
        mas = []
        for j in range(n):
            if i == j:
                mas.append(1)
            elif i < j:
                value = float(input(f"оценка для критерия {i + 1} относительно критерия {j + 1}: "))
                mas.append(value)
            else:
                mas.append(1 / massiv[j][i])
        massiv.append(mas)

    summa = [1 for _ in range(n)]
    for i in range(n):
        for j in range(n):
            summa[i] *= massiv[j][i]
        summa[i] **= (1 / n)

    itogsum = sum(summa)
    weights = [round(val / itogsum, 2) for val in summa]

    return weights

n = int(input("Количество критериев: "))
weights = Koef(n)

if n>0:

    print("Весовые коэффициенты:")
    for i, weight in enumerate(weights):
        print(f"Критерий {i + 1}: {weight}")
else:
    print("Недопустимое значение")
